:root{
    --vermelho:#e50914;
    --preto:#141414;
}

*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}
/*elementos base*/
body{
background: var(--preto);
font-family: 'Times New Roman', Times, serif;
color: whitesmoke;

}

header .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family:'Arial black',Times;
    font-size: 40px;
}
header nav a{
  text-decoration: none; 
  color: #AAA; 
  margin-right: 10px;
}

header nav a:hover{
    color: rgb(121, 28, 28);
}

/*filme principal*/

.filmePrincipal{
  font-size: 18px;
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("/img/satoro.jpg");/*linear gradiente serve para escurecer contraste da imagem*/
  height: 600px;
  background-size: cover;/*tamanho da div ou wrapper*/
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

}
.filmePrincipal .descricao{
margin-bottom: 10px;
margin-top: 1%;

}
.titulo{
  margin-top: 10%;
  font-size: 40px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
  background-color: rgba(0, 0,0,.50);
  border: none;
  color: whitesmoke;
  

  padding: 15px 30px;
  margin-right: 20px;
  margin-bottom: 0px;
  cursor: pointer;
  transition: .4s ease all;
}
.botao:hover{
  background-color: #e50914;
 
}
.botao i{
  margin-right: 5px;
}

.container{
  margin-left: 20px;
}

.filmePrincipal .container{
  width: 95%;/*largura do container*/
}

.box-filme{
  height: 90%;
  width: 100%;
  display: block;
  margin-top: 0%;
}