@media screen and (max-width:699px) {
    header .container{
        display: flex;
        flex-direction: column;
    }
    .botao{
        margin-top: 5px;
    }

   
}

@media screen and (max-width:320px) {
    header .container{
        display: flex;
        flex-direction: column;
    }
    .botao{
        margin-top: 5px;
    }
   
}


@media screen and (min-width:699px) {
    .descricao{
        width: 50%;
    }
    
}
@media screen and (min-width:400px) {
    .descricao{
        width: 50%;
    }
    
}
@media screen and (min-width:320px) {
    .descricao{
        width: 100%;
    }
    
}
